<div class="container">
  <form>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody  class="cart-item" *ngFor="let item of items">
        <tr *ngIf="item">
            <td><img [src]="item.icon" width="200" height="200"></td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
        </tr>
  
      </tbody>
      <tr class="col-md-12 bg-light text-right">
        <button routerLink="/thankyou" type="button" class="btn btn-primary" (click)="isPurchase(item)">Purchase</button>
      </tr>
      <!-- <tr class="col-md-12 bg-light text-right" *ngFor="let product of products">
        <button routerLink="/thankyou" type="button" class="btn btn-danger" (click)="isPurchase(item)" (click)="onOpenModal(null!, 'add')" (click)="sendProductsToOrderDetails(product)" >Purchase</button>
      </tr> -->
    </table>
  
  </form>

  <!--Purchase -->
  <div class="modal fade" id="addPurchaseModal" tabindex="-1" role="dialog" aria-labelledby="addPurchaseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="addPurchaseModalLabel">Purchase Item</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>

      </div>
    </div>
   </div>
  </div>
  
  <br><br>
    <div *ngIf="items?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No items in the cart :)!</h4>
        <p>Your cart is empty, please select your products :)</p>
      </div>
    </div>
  

